<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <i class="nav-link" (click)="currentPage='Template'">Template Driven Form</i>
    </li>
    <li class="nav-item">
      <i class="nav-link" (click)="currentPage='Reactive'">Reactive Form</i>
    </li>      
  </ul>  
</nav>

<!-- <app-template [currentPageFromParentComponent]="currentPage" *ngIf="currentPage==='Template'"></app-template>
<app-reactive [currentPageFromParentComponent]="currentPage" *ngIf="currentPage==='Reactive'"></app-reactive> -->
<app-template [currentPageFromParentComponent]="currentPage" [style.display]="display('Template')"></app-template>
<app-reactive [currentPageFromParentComponent]="currentPage" 
[style.display]="display('Reactive')" >

</app-reactive>

<p>{{childdata}}</p>


