<main class="form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{currentPageFromParentComponent}}</div>
                    <div class="card-body">       
                        <form [formGroup]="reactiveForm">         
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" name="username" class="form-control" formControlName="username" >                                    
                                    <span *ngIf="!reactiveForm.get('username').valid && reactiveForm.get('username').touched" style="color:red;">Please Enter Username</span>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="text" id="password" name="password" class="form-control" formControlName="password">
                                    <span *ngIf="!reactiveForm.get('password').valid && reactiveForm.get('password').touched" style="color:red;">Please Enter Password</span>
                                   
                                </div>
                            </div>                            
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" (click)="eventEmitter()">Register</button>                               
                            </div>            
                        </form>                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

